In [3]:
import pandas as pd 
iris = pd.read_csv('iris.csv')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
iris["variety"].value_counts()

Setosa        50
Virginica     50
Versicolor    50
Name: variety, dtype: int64

In [10]:
iris["variety"].str.count("Setosa").sum()

50

In [11]:
iris["variety"].str.count("Virginica").sum()

50

In [21]:
import pandas as pd 
iris = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
a = iris["variety"].str.count("Setosa").sum()
b = iris["variety"].str.count("Virginica").sum()
c = iris["variety"].str.count("Versicolor").sum()
print (a , b , c)

50 50 50

In [30]:
total = iris.describe()
type(total)
# total
# iris.columns = ['sw','sl','pw','pl','type']
iris.head()


# setosa = iris[iris.type=='Setosa']
# setdes = setosa.describe()
# setMean = setdes.iloc[1].tolist
# setMean

# versicolor = iris[iris.type=='Versicolor']
# virginica = iris[iris.type=='Virginica']
# iris.type.unique()
# vcdes = versicolor.describe()
# virdes = virginica.describe()

# print(vcdes)
# print(virdes)
# print(setdes)

    sw   sl   pw   pl    type
0  5.1  3.5  1.4  0.2  Setosa
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa

Find the data of flower “Iris-virginica” type where petal-length > 1.5?

In [38]:
virginica = iris[iris.type=='Virginica']
virginica

      sw   sl   pw   pl       type
100  6.3  3.3  6.0  2.5  Virginica
101  5.8  2.7  5.1  1.9  Virginica
102  7.1  3.0  5.9  2.1  Virginica
103  6.3  2.9  5.6  1.8  Virginica
104  6.5  3.0  5.8  2.2  Virginica
105  7.6  3.0  6.6  2.1  Virginica
106  4.9  2.5  4.5  1.7  Virginica
107  7.3  2.9  6.3  1.8  Virginica
108  6.7  2.5  5.8  1.8  Virginica
109  7.2  3.6  6.1  2.5  Virginica
110  6.5  3.2  5.1  2.0  Virginica
111  6.4  2.7  5.3  1.9  Virginica
112  6.8  3.0  5.5  2.1  Virginica
113  5.7  2.5  5.0  2.0  Virginica
114  5.8  2.8  5.1  2.4  Virginica
115  6.4  3.2  5.3  2.3  Virginica
116  6.5  3.0  5.5  1.8  Virginica
117  7.7  3.8  6.7  2.2  Virginica
118  7.7  2.6  6.9  2.3  Virginica
119  6.0  2.2  5.0  1.5  Virginica
120  6.9  3.2  5.7  2.3  Virginica
121  5.6  2.8  4.9  2.0  Virginica
122  7.7  2.8  6.7  2.0  Virginica
123  6.3  2.7  4.9  1.8  Virginica
124  6.7  3.3  5.7  2.1  Virginica
125  7.2  3.2  6.0  1.8  Virginica
126  6.2  2.8  4.8  1.8  Virginica
127  6.1  3.0  4.9  1.8  Virginica
128  6.4  2.8  5.6  2.1  Virginica
129  7.2  3.0  5.8  1.6  Virginica
130  7.4  2.8  6.1  1.9  Virginica
131  7.9  3.8  6.4  2.0  Virginica
132  6.4  2.8  5.6  2.2  Virginica
133  6.3  2.8  5.1  1.5  Virginica
134  6.1  2.6  5.6  1.4  Virginica
135  7.7  3.0  6.1  2.3  Virginica
136  6.3  3.4  5.6  2.4  Virginica
137  6.4  3.1  5.5  1.8  Virginica
138  6.0  3.0  4.8  1.8  Virginica
139  6.9  3.1  5.4  2.1  Virginica
140  6.7  3.1  5.6  2.4  Virginica
141  6.9  3.1  5.1  2.3  Virginica
142  5.8  2.7  5.1  1.9  Virginica
143  6.8  3.2  5.9  2.3  Virginica
144  6.7  3.3  5.7  2.5  Virginica
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

In [45]:
virginica1 = iris[iris.type=='Virginica'] and iris[iris.pl > 1.5]
virginica1

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Iris Values
Send Feedback
Problem Statement
Find and print the minimum, maximum and average value of the feature for each kind of flower ?
Note: Get the dataset from here
Print the value with two decimal places.
Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.
Output Format
minSL minSW minPL minPW Iris-setosa
maxSL maxSW maxPL maxPW Iris-setosa
avgSL avgSW avgPL avgPW Iris-setosa
. . .


Iris Virginica
Send Feedback
Problem Statement
Find the data of flower “Iris-virginica” type where petal-length > 1.5?
Note: Get the dataset from here
Print the all the feature values.
Output Format
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
. . .

In [1]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df['sepal.length'].min()

4.3

In [7]:
df['sepal.length'] in df['variety' == 'Setosa']

KeyError: False