In [1]:
import sqlite3

In [6]:
db = sqlite3.connect('Employe.sqlite')
db

In [7]:
cur = db.cursor()
cur 
sql_query = 'create table EmployeeDetail (employeeid int primary key, names text, age int, department text, salary int )'
cur.execute(sql_query)

In [4]:
cur.execute('insert into EmployeeDetail values(100, "rishav", 25, "marketing", 50),(101, "abhi", 26, "marke", 45),(102, "shav", 25, "marting", 70)')

IntegrityError: UNIQUE constraint failed: EmployeeDetail.employeeid

In [5]:
db.commit()

## Open and read data file as specified in the question
## Print the required output in given format
employee_id=[100,101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Rishav','Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Marketing','Operations','Finance','HumanResource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [15]:
cur.execute('insert into EmployeeDetail values(100,101,102,103,104,105,106,107,108,109,110,111,112,113),('Rishav','Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya'), (25,25,27,25,24,30,26,23,26,25,26,29,24),('Marketing','Marketing','Operations','Finance','HumanResource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing'),(50000,50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000)')

SyntaxError: invalid syntax (<ipython-input-15-badd62f8c3fb>, line 1)

Marketing 5
Finance 2
Operations 2
HumanResource 2
IT 2

In [16]:
import sqlite3
employee_id=[100,101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Rishav','Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
a=list(zip(employee_id,name,age,department,salary))
db=sqlite3.connect('my')
cur=db.cursor()
cur.execute('create table employee(id int,name Text ,age int,department Text ,salary int) ')
cur.executemany('insert into employee values (?,?,?,?,?)',a)
cur.execute("select department,count(*) from employee group by department")
for i in cur :
    for j in i:
        print(j,end=" ")
    print()

Finance 2
Human Resource 2
IT 2
Marketing 5
Operations 2